<div class="jumbotron list-space">
  <div class="container-fluid">
    <h2 id="list-space">Want to list a space?</h2>
    <a href="/spaces/new" class="btn btn-default btn-spaces">Yes, please</a>
  </div>
</div>

<div class='container'>

  <div class="row">
      <div class="col-lg-12">
          <h2 class="page-header main-heading">
            Spaces<br>
            <small>Something for everyone</small>
          </h2>
      </div>
  </div>

  <div class='row'>
    <div class="col-md-6 col-xs-6">
      <ul class="list-unstyled spaces">
        <% @spaces.each do |space| %>
          <li>
            <div class="info-box">
              <div class="info-tag"><%= space.name %></div>
              <div class="info-image" style="background-image: url('/uploads/<%= space.image %>')"></div>
              <div class="info-text">
                <p class='content'><%= space.description %></p>
                <p class='price'>£<%= '%.2f' % space.price %> per night</p>
                <a href="/spaces/<%= space.id %>">
                  <button class="btn btn-default btn-details">Details</button>
                </a>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

</div>
